@model SistemaWebVuelos.Models.Vuelo

@{
    ViewBag.Title = "Detail";
}

<fieldset>
    <legend>Detalles de Vuelo</legend>
    <div class="detalles">
        <div class="display-label">
            @* Nombre de la Columna *@
            @Html.DisplayNameFor(model => model.Id)
        </div>
        <div class="display-text">
            @* Valor de la Columna *@
            @Html.DisplayFor(model => model.Id)
        </div>
    </div>
    <div class="detalles">
        <div class="display-label">
            @* Nombre de la Columna *@
            @Html.DisplayNameFor(model => model.Fecha)
        </div>
        <div class="display-text">
            @* Valor de la Columna *@
            @Html.DisplayFor(model => model.Fecha)
        </div>
    </div>
    <div class="detalles">
        <div class="display-label">
            @* Nombre de la Columna *@
            @Html.DisplayNameFor(model => model.Destino)
        </div>
        <div class="display-text">
            @* Valor de la Columna *@
            @Html.DisplayFor(model => model.Destino)
        </div>
    </div>
    <div class="detalles">
        <div class="display-label">
            @* Nombre de la Columna *@
            @Html.DisplayNameFor(model => model.Origen)
        </div>
        <div class="display-text">
            @* Valor de la Columna *@
            @Html.DisplayFor(model => model.Origen)
        </div>
    </div>
    <div class="detalles">
        <div class="display-label">
            @* Nombre de la Columna *@
            @Html.DisplayNameFor(model => model.Matricula)
        </div>
        <div class="display-text">
            @* Valor de la Columna *@
            @Html.DisplayFor(model => model.Matricula)
        </div>
    </div>
</fieldset>

<p>
    @Html.ActionLink("Volver a Vuelos", "Index", "Vuelo")
</p>

